<div class="kayitContainer center">
<p class="head1"> Kayıt Ol </p>
<label>
    <b> E-Posta </b>
    <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
    <br>
  <input (keyup.enter)="kayitOl()"  class="textbox" placeholder="E-Posta..." [(ngModel)]="eposta" type="text" autofocus required>
</label>
<br><br>
<label>   
  <b>Şifre</b>
  <fa-icon style="margin-left: 5px" [icon]="['fas', 'key']"></fa-icon>
  <br>
    <input (keyup.enter)="kayitOl()"  class="textbox" placeholder="Şifre..." [(ngModel)]="sifre" type="password" required>
</label>
<br><br>
<input type="button" value="Kayıt Ol" class="buttonNormal" (click)="kayitOl()">
<div style="margin-top: 15px; text-align: center">
  <span style="font-weight: 300"> Zaten hesabın var mı? </span> <a (click)="girisRedirect()">Giriş yap.</a>
</div>
</div>