<div class="girisContainer center">
  <p class="head1"> Giriş Yap </p>
  <label>
      <b> E-Posta </b>
      <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
      <br>
    <input (keyup.enter)="girisYap()"  class="textbox" placeholder="E-Posta..." [(ngModel)]="eposta" type="text" autofocus required>
  </label>
  <br><br>
  <label>   
    <b>Şifre</b>
    <fa-icon style="margin-left: 5px" [icon]="['fas', 'key']"></fa-icon>
    <br>
      <input (keyup.enter)="girisYap()"  class="textbox" placeholder="Şifre..." [(ngModel)]="sifre" type="password" required>
  </label>
  <br><br>
  <input type="button" value="Giriş" class="buttonNormal" (click)="girisYap()">
  <div style="margin-top: 15px; text-align: center">
    <span style="font-weight: 300"> Hesabın yok mu? </span><a (click)="kayitRedirect()">Kayıt ol.</a><br><br>
    <a (click)="sifirlaRedirect()">Şifremi unuttum</a>
</div>
</div>