<div class="girisContainer center">
    <div class="col-lg-4"></div>
  <div class="col-lg-4">
  <p class="head1"> Giriş Yap </p>
  <label>
      <b> E-Posta </b>
      <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
      <br>
    <input (keyup.enter)="auth(0)"  class="textbox" placeholder="E-Posta..." [(ngModel)]="eposta" type="text" autofocus required>
  </label>
  <br><br>
  <label>   
    <b>Şifre</b>
    <fa-icon style="margin-left: 5px" [icon]="['fas', 'key']"></fa-icon>
    <br>
      <input (keyup.enter)="auth(0)"  class="textbox" placeholder="Şifre..." [(ngModel)]="sifre" type="password" required>
  </label>
  <br><br>
  <input style="width: 73.9%; margin-right: 5px;" type="button" value="Giriş" class="buttonNormal" (click)="auth(0)">
  <input style="width: 25%; display:inline;" type="button" value="Kayıt Ol" class="buttonDiger" (click)="auth(1)">
</div>
</div>